@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  position: relative;
}

/*section loader*/
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100vh;
  inset: 0;
  z-index: 1;
  animation: timeline 200ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transform-origin: center;
  background: linear-gradient(170deg, rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
  color: #fff;
  font-size: 8rem;
  font-family: "Shrikhand", cursive;
}
@media (max-width: 768px) {
  .loader {
    flex-direction: column;
    height: 100vh;
    font-size: 4rem;
  }
}
@keyframes timeline {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/*section search*/
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 1rem;
  box-shadow: #353535;
}
.location i {
  font-size: 1.3rem;
}
.location input {
  border: none;
  background: #f3f3f3;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 5px;
  text-align: center;
  width: 150px;
}

/*section explore*/
.explore {
  text-align: center;
  background-color: #fafafa;
  padding: 2rem 0;
  font-size: 1.1rem;
}
.explore p {
  font-weight: lighter;
}
.explore button {
  color: #fff;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(170deg, rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
  cursor: pointer;
  transition: transform 200ms;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
.explore button:hover {
  transform: scale(1.05);
}

/*section process*/
.process {
  padding: 2rem 0;
  counter-reset: number;
}
.process h2 {
  padding: 0rem 2rem;
}
.process ol {
  display: flex;
  gap: 2rem;
  padding: 0 3rem;
}
@media (max-width: 768px) {
  .process ol {
    display: flex;
    flex-direction: column;
  }
}
.process li {
  position: relative;
  list-style-type: none;
  background-color: #f3f3f3;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 200ms;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
.process li::before {
  content: counter(number);
  counter-increment: number;
  background-color: #9356dc;
  color: #fff;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.process li:hover {
  transform: scale(1.05);
  background-color: #f2eafb;
}
.process li:hover i.fas {
  color: #9356dc;
}
.process li i.fas {
  margin-right: 1rem;
  font-size: 1rem;
}

/*section restaurant*/
.restaurant {
  background-color: #f3f3f3;
  padding: 2rem 8rem 4rem;
}
@media (max-width: 768px) {
  .restaurant {
    padding: 1rem 1rem;
  }
}
.restaurant h2 {
  margin-bottom: 2rem;
}
.restaurant .restaurant__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
@media (max-width: 768px) {
  .restaurant .restaurant__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.restaurant .restaurant__cards .new {
  position: relative;
}
.restaurant .restaurant__cards .new::before {
  content: "Nouveau";
  position: absolute;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.1rem;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  top: 1rem;
  right: 0.75rem;
  animation-duration: 0.8s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes clignoter {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.restaurant .card {
  background-color: #fff;
  border-radius: 1rem 1rem;
}
.restaurant .card:hover {
  transform: scale(1.05);
}
.restaurant .card__image {
  border-radius: 1rem 1rem 0 0;
  height: 20rem;
  background-size: cover;
}
.restaurant .card__image-1 {
  background-image: url("assets/menu-1.jpg");
}
.restaurant .card__image-2 {
  background-image: url("assets/menu-2.jpg");
}
.restaurant .card__image-3 {
  background-image: url("assets/menu-3.jpg");
}
.restaurant .card__image-4 {
  background-image: url("assets/menu-4.jpg");
}
.restaurant .card__description {
  position: relative;
}
.restaurant .card__description h3,
.restaurant .card__description p {
  margin: 0.5rem;
}
.restaurant .card__description h3 {
  padding-top: 0.5rem;
}
.restaurant .card__description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #353535;
  color: #fff;
  padding: 1rem;
}
@media (max-width: 768px) {
  footer {
    align-items: flex-start;
  }
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}
footer p {
  margin: 0;
}
footer p:hover {
  text-decoration: underline;
}
footer i {
  padding: 0 0.5rem 0 0;
}

.checkbox-like {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox-like.checkbox-like__position {
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox-like input[type=checkbox]:checked ~ .unchecked {
  display: none;
}

.checkbox-like input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  color: rgba(255, 255, 255, 0);
}

.checkbox-like input[type=checkbox],
.checkbox-like .checked {
  display: none;
  animation: like 200ms;
  animation-fill-mode: forwards;
}

@keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    background: linear-gradient(to top, rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(to top, rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
    -webkit-background-clip: text;
  }
}
@keyframes appear {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.header .header-menu {
  position: relative;
}
.header__arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 2rem;
  color: inherit;
}
.header__arrow:hover {
  color: #9356dc;
  transform: scale(1.05) translateY(-50%);
}

.photopage {
  max-width: 100%;
  max-height: 30rem;
  object-fit: cover;
  width: 100%;
}

.header_menu {
  position: relative;
  font-family: "Shrikhand", cursive;
  background-color: #f3f3f3;
}
.header_menu_title {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 3rem 3rem 0 0;
}
.header_menu_title h2 {
  padding: 0 2rem;
}

.menus {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding: 0rem 15rem;
  background-color: #f3f3f3;
}
@media (max-width: 768px) {
  .menus {
    padding: 0rem 2rem;
  }
}
.menus h3 {
  margin: 2rem 0 0 0;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}
.menus h3::after {
  content: "";
  position: absolute;
  background-color: #99e2d0;
  height: 0.2rem;
  width: 2.8rem;
  top: 1.5rem;
  left: 0;
}
.menus .menu__category {
  overflow: hidden;
  border-radius: 1rem;
}
.menus .menu__category .menu-item {
  animation: appear 1s;
  display: flex;
  margin: 0;
  overflow: hidden;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
.menus .menu__category .menu-item .menu-item__description {
  padding: 0 1rem;
  overflow: hidden;
}
.menus .menu__category .menu-item .menu-item__description h4 {
  margin: 0.5rem 0 0.1rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus .menu__category .menu-item .menu-item__description p {
  margin: 0 0 0.5rem 0;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus .menu__category .menu-item .menu-item__price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.menus .menu__category .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  overflow: hidden;
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 500ms;
}
.menus .menu__category .menu-item .menu-item__check i {
  background-color: #fff;
  color: #99e2d0;
  border-radius: 50%;
  font-size: 1rem;
  padding: 0.3rem;
}
.menus .menu__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
.menus .menu__category .menu-item:hover i {
  animation-duration: 0.8s;
  animation-name: rotate-spin;
}
@keyframes rotate-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

section.order {
  display: grid;
  place-items: center;
  background-color: #f3f3f3;
  padding: 3rem 0 5rem 0;
}
section.order button {
  color: #fff;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(170deg, rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
  cursor: pointer;
  transition: transform 200ms;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
section.order button:hover {
  transform: scale(1.05);
}

/*# sourceMappingURL=style.css.map */
