$fonction-ball-height: 1rem;
$breakpoints-tablet: 768px;
$breakpoints-desktop: 1280px;
$grey: #f3f3f3;
$lightgrey: #fafafa;
$white: #fff;
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$darkgrey: #353535;
$linear-gradient: linear-gradient(
  to top,
  rgba(147, 86, 220, 0.9),
  rgba(255, 121, 218, 0.9)
);
$font-cursive: "Shrikhand", cursive;
