@use "../utils/variables.scss";

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: variables.$darkgrey;
  color: variables.$white;
  padding: 1rem;
  @media (max-width: 768px) {
    align-items: flex-start;
  }
  h2 {
    font-family: variables.$font-cursive;
    font-weight: 500;
  }
  p {
    margin: 0;
    &:hover {
      text-decoration: underline;
    }
  }
  i {
    padding: 0 0.5rem 0 0;
  }
}
