@use "../utils/mixins.scss";
@use "../utils/variables.scss";
@use "../utils/animations.scss";
/*section loader*/
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100vh;
  inset: 0;
  z-index: 1;
  animation: timeline 200ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transform-origin: center;
  background: variables.$linear-gradient;
  color: variables.$white;
  font-size: 8rem;
  font-family: variables.$font-cursive;

  @media (max-width: 768px) {
    flex-direction: column;
    height: 100vh;
    font-size: 4rem;
  }
}

/*section search*/
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: variables.$grey;
  text-align: center;
  padding: 1rem;
  box-shadow: variables.$darkgrey;
  & i {
    font-size: 1.3rem;
  }
  & input {
    @include mixins.location__search;
  }
}

/*section explore*/
.explore {
  text-align: center;
  background-color: variables.$lightgrey;
  padding: 2rem 0;
  font-size: 1.1rem;
  & p {
    font-weight: lighter;
  }
  & button {
    @include mixins.btn;
  }
  & button:hover {
    @include mixins.zoom-effect;
  }
}

/*section process*/
.process {
  padding: 2rem 0;
  counter-reset: number;

  h2 {
    padding: 0rem 2rem;
  }
  & ol {
    display: flex;
    gap: 2rem;
    padding: 0 3rem;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
  & li {
    position: relative;
    &::before {
      content: counter(number);
      counter-increment: number;
      background-color: variables.$color-primary;
      color: variables.$white;
      width: 2 * variables.$fonction-ball-height;
      height: 2 * variables.$fonction-ball-height;
      display: grid;
      place-items: center;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: -1 * variables.$fonction-ball-height;
      transform: translateY(-50%);
    }
    list-style-type: none;
    background-color: variables.$grey;
    padding: 1.5rem 2rem;
    flex-grow: 1;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 200ms;
    @include mixins.basic-shadow;
    &:hover {
      @include mixins.button-effect;
      i.fas {
        color: variables.$color-primary;
      }
    }
    & i.fas {
      margin-right: 1rem;
      font-size: 1rem;
    }
  }
}

/*section restaurant*/
.restaurant {
  background-color: variables.$grey;
  padding: 2rem 8rem 4rem;
  @media (max-width: 768px) {
    padding: 1rem 1rem;
  }

  h2 {
    margin-bottom: 2rem;
  }

  .restaurant__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .new {
      position: relative;
    }
    .new::before {
      content: "Nouveau";
      position: absolute;
      font-weight: 500;
      padding: 0.5rem;
      border-radius: 0.1rem;
      background-color: variables.$color-tertiary;
      color: darken(variables.$color-tertiary, 50%);
      display: grid;
      place-items: center;
      top: 1rem;
      right: 0.75rem;
      animation-duration: 0.8s;
      animation-name: clignoter;
      animation-iteration-count: infinite;
      transition: none;
    }
  }

  .card {
    background-color: variables.$white;
    border-radius: 1rem 1rem;
    &:hover {
      @include mixins.zoom-effect;
    }
    &__image {
      border-radius: 1rem 1rem 0 0;
      height: 20rem;
      background-size: cover;
      @media (max-width: 768px) {
        height: 14rem;
      }
    }
    @for $i from 1 through 4 {
      &__image-#{$i} {
        background-image: url("assets/menu-#{$i}.jpg");
      }
    }
    &__description {
      position: relative;
      h3,
      p {
        margin: 0.5rem;
      }
      h3 {
        padding-top: 0.5rem;
      }
      i {
        bottom: 1rem;
        color: black;
        cursor: pointer;
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: variables.$linear-gradient-2;
          color: variables.$white;
          font-weight: 600;
          transform: scale(1.2);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
