@use "../utils/colors.scss";
@use "../utils/variables.scss";

.restaurant {
  background-color: colors.$grey;
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 2rem;
  }

  .restaurant__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    @media (max-width: variables.$breakpoints) {
      grid-template-columns: repeat(1, 1fr);
    }
    .new {
      position: relative;
    }
    .new::before {
      content: "Nouveau";
      position: absolute;
      font-weight: 500;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: colors.$color-tertiary;
      color: darken(colors.$color-tertiary, 50%);
      display: grid;
      place-items: center;
      top: 1rem;
      right: 0.75rem;
      animation-duration: 0.8s;
      animation-name: clignoter;
      animation-iteration-count: infinite;
      transition: none;
    }
    @keyframes clignoter {
      0% {
        opacity: 1;
      }
      40% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .card {
    background-color: colors.$white;
    border-radius: 0 0 1rem 1rem;
    &__image {
      border-radius: 1rem 1rem 0 0;
      height: 15rem;
      background-size: cover;
    }
    @for $i from 1 through 4 {
      &__image-#{$i} {
        background-image: url("../../assets/menu-#{$i}.jpg");
      }
    }
    &__description {
      position: relative;
      h3,
      p {
        margin: 0.5rem;
      }
      h3 {
        padding-top: 0.5rem;
      }
      i {
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
